<div class="row g-0">
  <div class="d-flex align-items-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <h3 class="login-heading text-center mb-4">Welcome back!</h3>
          <!-- Sign In Form -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-floating mb-3">
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control", placeholder: "Username" %>
              <%= f.label :username %>
            </div>
            <div class="form-floating mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
              <%= f.label :password %>
            </div>
            <div class="form-check mb-3">
              <% if devise_mapping.rememberable? %>
                <div class="form-check">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label" %>
                </div>
              <% end %>
            </div>
            <div class="d-grid">
              <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" %>
              <div class="text-center">
                <%= render "users/shared/links" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
