<%= render partial: 'tweets/shared/flash', locals: { flash: flash } %>
<%= search_form_for @q, html: { class: 'form-inline' } do |f| %>
  <div class="d-flex justify-content-center form-group">
  <div class= "col-lg-4 col-md-8 col-sm-8 col-12">
    <%= f.search_field :body_cont, class: 'form-control', placeholder: 'Search by body content' %>
  </div>
  </div>
<% end %>
<div class="m-1">
  <% @tweets.each do |tweet| %>
    <%= render partial: 'tweets/shared/tweet', locals: { tweet: tweet } %>
  <% end %>
  <div class="mt-2 d-flex justify-content-center">
    <%= will_paginate @tweets, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>
