<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-success alert-dismissible fade show mt-1">
      <%= value %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% @tweets.reverse.each do |tweet| %>
    <tr>
      <h1><%= link_to tweet.user.username, user_profile_path(tweet.user) %></h1>
      <h2>
        <td><%= tweet.body %></td>
      </h2>
      <h3>
        <td><%= tweet.created_at %></td>
      </h3>
    </tr>
    <% if current_user.liked? tweet %>
      <%= link_to dislike_tweet_path(tweet.id), method: :put do %>
        <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
        <%= tweet.get_likes.size %>
      <% end %>
    <% else %>
      <%= link_to like_tweet_path(tweet), method: :put do %>
        <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
        <%= tweet.get_likes.size %>
      <% end %>
    <% end %>
    <% if current_user == tweet.user %>
      <%= link_to "Delete", tweet_path(tweet.id), data: { confirm: 'Are you sure you want to delete this Tweet?' }, :method => :delete %>
    <% end %>
  <% end %>
</div>
<%= link_to 'New Tweet', new_tweet_path(@user) %>
