<div class="row d-flex justify-content-center">
  <div class="col-lg-4 col-md-8 col-sm-8 col-12 mt-2">
    <h3 class="text-center"><strong><%= tweet.comments.count %> Comment(s)</strong></h3>
    <% tweet.comments.order(created_at: :asc).each do |comment| %>
      <% unless !comment.persisted? %>
        <div class="card rounded shadow-sm mb-1 border-0">
          <div class="card-body">
            <div class="d-flex w-100 justify-content-between">
              <% if comment.user.fake_username.present? %>
                <h6 class="card-title"><%= link_to comment.user.fake_username, user_profile_path(comment.user) %></h6>
              <% else %>
                <h6 class="card-title"><%= link_to comment.user.username, user_profile_path(comment.user) %></h6>
              <% end %>
              <small class="text-muted"><%= time_ago_in_words(comment.created_at) %> ago</small>
            </div>
            <%= markdown(comment.body) %>
            <div class="d-flex justify-content-end">
              <% if current_user.comment_author?(comment) %>
                <%= link_to 'Delete', [tweet, comment], method: :delete, data: { confirm: 'Are you sure want to delete this comment?' }, :class => 'btn btn-sm btn-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
