<%= form_with(model: tweet, local: true, :html=> { :class => "row g-3" }) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-12">
    <%= form.label :body%><br />
    <%= form.text_area :body, :id => 'body', placeholder: 'What are you thinking?', class: "form-control"  %>
  </div>
  <div class="col-12 mt-2 text-center">
    <%= form.submit 'Create tweet', :class => 'btn btn-primary' %>
  </div>
<% end %>
