<!DOCTYPE html>
<html>
  <head>
    <title>Vault</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light m-1 rounded shadow">
      <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <%= link_to "Fish Vault", tweets_path, :class => 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <%= render partial: 'shared/notifications'%>
              <%= render partial: 'shared/user_dropdown' %>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
